---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14aa2RL7kTE3NNu4PjnmllrS
    headers:
      Authorization:
      - Bearer sk_test_xdqc7MXvyfosWtt0jk2SguRu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14aa2RL7kTE3NNu4wykGg2Ya",
          "object": "charge",
          "created": 1410213067,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14aa2RL7kTE3NNu4qS45aUZb",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "Ssu5Jh4iPDQy1bnj",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14aa2RL7kTE3NNu4wykGg2Ya/refunds",
            "data": []
          },
          "balance_transaction": "txn_14aa2RL7kTE3NNu4mMwqu4uS",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Mon, 08 Sep 2014 21:51:09 GMT
recorded_with: VCR 2.9.2
