---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14aaESL7kTE3NNu4dG4AGP34
    headers:
      Authorization:
      - Bearer sk_test_xdqc7MXvyfosWtt0jk2SguRu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_14aaESL7kTE3NNu4qS7GRhYL"
          }
        }
  recorded_at: Mon, 08 Sep 2014 22:03:34 GMT
recorded_with: VCR 2.9.2
