---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=8&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_xdqc7MXvyfosWtt0jk2SguRu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Vpk2L7kTE3NNu4oVDGsPaA",
          "livemode": false,
          "created": 1409081790,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Vpk2L7kTE3NNu4b1r2kgBp",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2018,
            "fingerprint": "EJa6GjeOIf0Hx79z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Tue, 26 Aug 2014 19:36:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14Vpk2L7kTE3NNu4oVDGsPaA&description=An%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_xdqc7MXvyfosWtt0jk2SguRu
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-20'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14Vpk2L7kTE3NNu4e0paHvcF"
          }
        }
  recorded_at: Tue, 26 Aug 2014 19:36:31 GMT
recorded_with: VCR 2.9.2
